[submodule "mspsim"]
	path = plat/mspsim
	url = https://github.com/ransford/mspsim.git
[submodule "plat/msp430/mspdebug-wrapper"]
	path = plat/msp430/mspdebug-wrapper
	url = https://ransford/mspdebug-wrapper.git
